Source: ros-humble-pal-gripper-description
Section: misc
Priority: optional
Maintainer: "TIAGo support team" <tiago-support@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-urdf-test <!nocheck>, ros-humble-xacro, ros-humble-ros-workspace
Homepage: https://github.com/pal-robotics/tiago_simulation
Standards-Version: 3.9.2

Package: ros-humble-pal-gripper-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-pal-urdf-utils, ros-humble-xacro, ros-humble-ros-workspace
Description: The pal_gripper_description package
